<html>
	<head>
		<title>test blog</title>
	</head>

	<body>
		<div>
			<h1><a href="/">Django test blog</a></h1>
		</div>
		{% for post in posts %}
			<div>
				<p>published: {{post.published_date}}</p>
				<h2><a href="">{{post.title}}</a></h2>
				<p>{{post.text|linebreaksbr}}</p>

			</div>
		{% endfor %}
<!--		<div>
			<p> </p>
			<p>published: 31.05.2020, 11:30</p>
			<h2><a href="">My first post</a></h2>
			<p>level 2 header
			レベル2ヘッダー</p>
		</div>

		<div>
			<p>公開日: 2020/05/31, 11:30</p>
			<h3><a href="">My 2回目 post</a></h3>
			<p>level 3 header
			レベル3ヘッダー</p>
		</div>
-->
	</body>
</html>
